// Soal 2
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button @click="openForm">Open Form</button>
        <h1>Nilai a : {{ a }}</h1>
        <h1>Rata rata : {{ rataRataResult }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                rataRata: [],
                rataRataResult: 0,
            },
            methods: {
                openForm: function(){
                    while(this.a<10){
                        let promptResult = Number(prompt("Masukkan nilai a"))
                        this.a += promptResult
                        this.rataRata.push(promptResult)
                    }
                    this.rataRataResult = this.rataRata.reduce((a,b)=>a+b,0)/this.rataRata.length
                }
            }
        })
    </script>
</body>
</html>